<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${album.title}"></title>
</head>
<body>
    <div class="container">
        <img th:src="${album.imgURL}">
        <h1 th:text="${album.title}"></h1>
        <h2 th:text="${album.artist}"></h2>
        <p th:text="${album.length}"></p>
        <p th:text="${album.songCount}"></p>
        <h3>Songs</h3>
        <ol>
            <li th:each="song : ${album.songs}"></li>
        </ol>
        <form action>

        </form>

    </div>
</body>
</html>