<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Welcome, the word below should be capitalized</h2>
    <span th:if="${word != null}" th:text="${word}"></span>
    <span th:if="${word == null}" th:text="No word entered"></span>

    <form action="/albums" method="POST">
        <input type="text" name="title"> Album Title
        <input type="text" name="artist"> Artist
        <input type="number" name="songCount"> Song Count
        <input type="number" name="length"> Length
        <input type="text" name="imgUrl"> Img URL
        <input type="submit" value="album">
    </form>
</body>
</html>